<section class="login">
    <div class="wrapper">
        <div class="section_left">
            <img src="/assets/images/Buap.png" class="logo_buap">
            <img src="/assets/images/FCCBuap.png" class="logo_FCC">
        </div>
        <div class="section_right">
            <div class="card">
                <div class="card_body">
                    <h3 class="title">Inicio de Sesión</h3>
                    <div class="container_inputs">
                        <div class="pt_3 mb_3">
                           <!--input type="email" [(ngModel)]="username" class="form_control" id="email" placeholder="Correo Electrónico" --> 
                           <!--div *ngIf="errors.username" class="invalid_feedback">{{ errors.username }}</div-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>